.card-provider {
    transition: 0.15s ease-in-out;

    .card-body {
        display: flex;

        flex-flow: column;
    }

    &:hover {
        border-color: var(--cui-btn-hover-border-color);
        color: var(--cui-btn-hover-color);
        background-color: var(--cui-btn-hover-bg);
    }
}

.card-header {
    font-size: 1.2rem;
}

.provider-image {
    display: flex;

    height: 50px;

    align-items: center;
    justify-content: center;

    margin-bottom: calc(var(--cui-card-spacer-y) * 1);

    img {
        max-width: 100%;
        max-height: 50px;
    }
}

.provider-field {
    display: flex;

    margin-bottom: 5px;
}

.field-title {
    font-size: 0.9em;
    font-weight: 500;
}

.field-single {
    .field-title {
        margin-right: 5px;

        &::after {
            content: ' :';
        }
    }

    .field-value {
        font-size: 0.9em;
    }
}

.field-multiple {
    flex-flow: column;

    .field-value {
        min-height: 130px;
    }
}

.provider-buttons {
    display: flex;

    align-items: center;

    margin-top: calc(var(--cui-card-spacer-y) * 0.5);

    .btn:first-child {
        margin-right: auto;
    }

    .btn:last-child {
        margin-left: auto;
    }
}
