@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;

    src: url('../assets/font/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;

    src: url('../assets/font/Poppins-Medium.ttf');
}
