.sidebar-nav {
    .nav-title {
        font-size: 82% !important;
        font-weight: 500 !important;
        letter-spacing: 0.5px;
    }
}

.sidebar-brand {
    border-bottom: 1px solid $border-color;
}
