@import '../../../scss/variables_all';

.connection {
    display: flex;
    position: fixed;
    bottom: -$header-min-height;
    left: 0;
    right: 0;
    height: $header-min-height;

    align-items: center;
    justify-content: center;

    margin-left: var(--cui-sidebar-occupy-start, 0);

    background: $danger;

    color: $white;

    transition:
        margin-left 0.35s,
        bottom 0.35s;

    svg {
        margin: 0 1rem;
    }
}

.visible {
    bottom: 0;
}
